.ListToDo li {
    color:white;
    padding:50px 50px 50px 50px;
    text-align: center;
    width:100vw;
}
.ListToDo li button {    
    margin-top:10vh;
    
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    

}

.ListToDo li button:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.ListToDo li button:last-child
{
    margin-left:50px;
}
.ListToDo li:hover{
    background-color: #8ac6d4;
    color:#080c0d;
    transition-duration: 1s;



}
.ListToDo{
    list-style-type:none;
    display: block;
    padding: 0;
    margin:0;
}
 

.importantTask{
color:red !important;
font-weight: bold;
font-size: larger;
}
.notImportantTask{
font-size:medium;
color: black;


}